**/__pycache__/
**/.vscode/
sevila_checkpoints/sevila_pretrained.pth
.env
lavis/charades*
lavis/exp_results
risks_classification/wandb
risks_classification/risks_classifier_model
build/
salesforce_lavis.egg-info/
data/
risks_classification/risks_classifier_model/
risks_classification/wandb/
risks_classification/logs/
opengdino/charades-bboxes
opengdino/logs*
opengdino/weights/*
actionclip/charades_files
actionclip/weights/*
annotation_scripts/gpt_annotations/*.csv
annotation_scripts/gpt_annotations/*.txt
actionclip/saved_tensors/*
opengdino/risks_eval/bbox.jpg
risks_classification/tests_model/